@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --primary: 225 29 72; } /* mocny czerwony */

html, body, #__next { height: 100%; }

.glass {
  background-color: rgba(255,255,255,0.90);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
@supports (backdrop-filter: blur(1px)) {
  .glass { background-color: rgba(255,255,255,0.70); }
}
